@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{
margin: 5px;
font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 5px 16px;
border: none;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 25px;
transition : 424ms;
transform: translateY(0);
flex-direction: row;
align-items: center;
cursor: pointer;
max-width: 60px;
text-decoration: none;
}

.btn:hover{

transition : 424ms;
padding: 10px 27px;
transform : translateY(-0px);
background-color: #000000;
color: #ffffff;
border: none;
}

button {
    background-color: transparent;
    border: transparent;
    color: white;
}

a input {
    max-width: 60px;
    background-color: transparent;
    border: transparent;
    color: white;
}

#button {
font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 5px 16px;
border: none;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 25px;
transition : 424ms;
transform: translateY(0);
flex-direction: column;
align-items: center;
cursor: pointer;
max-width: 80px;
text-decoration: none;
}

#button:hover{

    transition : 424ms;
    padding: 10px 27px;
    transform : translateY(-0px);
    background-color: #000000;
    color: #ffffff;
    border: none;
}

main {
    margin-bottom: 250px;
}

#mainDelete{
    margin-bottom: 340px;
}

/* Rodapé CSS */
.main_footer { 
    background-color:#00b0d9; 
    color:#fff; 
    font-size:0.875em; 
   }
   .main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
   .container { float:left; width:100%; }
   .colfooter { 
    width:100%; 
    height:auto; 
    float:left; 
    margin-bottom:2em;
   }
   .colfooter ul        { width:100%; float:left; }
   .colfooter ul li     { padding:0.2em 0em; }
   .colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; }
   .colfooter ul li a i { font-size:0.5em; }
   .colfooter ul li a:hover { text-decoration:underline; }
   .colfooter .titleFooter   { 
    font-family:'open_sansregular'; 
    font-size:1.3em; 
    color:#ffffff; 
    padding-bottom: 0.5em; 
    margin-bottom:0.5em; 
    border-bottom:1px #4ec0db solid;
   }
   .colfooter p  { font-family:'open_sanslight'; color:#ffffff; font-size:1em; height:25px; } 
   
   .main_footer_copy { background-color:#01a2c8; width:100%; float:left; text-align:center; padding:1.5em 0em; }
   .main_footer_copy p { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
   .main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
   .main_footer_copy .by   { font-size:0.96em; }
   .main_footer_copy .by a       { color:#fff; text-decoration:none; }
   .main_footer_copy .by a:hover { text-decoration:underline; }
   .main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
   /*Responsivo*/
   /*768PX BREAKPOINT*/
   @media (min-width:48em){
   .colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
   .colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
   }